.form-group
  = haml :languages
  = haml :title
  %h2
    content
    = preserve do
      %textarea{ class: "form-control", rows: "30", placeholder: "Input content...", style: "margin-top: 10px; height: 30em;", name: "content", wrap: "hard" }
        = @item
%button{ type: "submit", class: "btn btn-primary" }
  Submit
