.form-group
  = haml :languages
  = preserve do
    %textarea{ class: "form-control", style: "margin-top: 10px; height: 30em;", name: "content", wrap: "hard" }
      = @item 
%button{ type: "submit", class: "btn btn-primary" }
  Submit
