%h1
  Items
%table{ class: "table table-striped" }
  %thead
    %tr
      %th
        Content ID
      %th
        Title
      %th
        Updated At
  %tbody
    - @lists.each do |list|
      %tr
        %td
          %a{ href: url("/posts/view/#{list[:content_id]}") }
            = list[:content_id]
        %td
          - if list[:title]
            = CGI.escapeHTML(list[:title])
          - else
            No Title
        %td
          = list[:updated_at]
